.dashboard {
  min-height: 100vh;
  font-family: var(--font-family);
  background: linear-gradient(
    to bottom,
    #3183d5 0%,
    #3183d5 20%,
    #f0f0f0 20%,
    #f0f0f0 100%
  );

  .transactions-section {
    background-color: #fff;
    padding: 24px;
    border-radius: 10px;

    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 8px;

      .see-all-wrapper {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: #3e3d3d;
          text-decoration: none;
        }
      }
    }

    .transactions-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 16px;

      th,
      td {
        text-align: left;
        border-bottom: 1px solid #e6e6e6;
      }

      th {
        background-color: #f9fafb;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
      }

      td {
        padding: 12px 0px;
        &.completed {
          .status {
            display: block;
            background-color: #007bff;
            color: white;
            border-radius: 6px;
            text-align: center;
            width: 90px;
          }
        }

        &.error {
          .status {
            display: block;
            background-color: #f26c6c;
            color: white;
            border-radius: 6px;
            text-align: center;
            width: 90px;
          }
        }
      }
    }
  }

  :host ::ng-deep {
    .custom-menu {
      border: none;
      margin: 0 32px 32px;

      .p-menubar {
        padding: 8px;
      }

      .p-menuitem-link {
        color: rgba(255, 255, 255, 0.8) !important;

        &.p-menuitem-link-active {
          color: white !important;
          font-weight: bold;
        }

        .p-menuitem-icon {
          color: rgba(255, 255, 255, 0.8) !important;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 32px;
    padding: 32px;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;

      h2 {
        margin: 0;
        font-size: 20px;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    .footer-content {
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3183d5;

      span {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
      }
    }
  }
}
