.menu-wrapper {
  background-color: #3183d5;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;

    .logo {
      width: 180px;
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 16px;

      span {
        color: white;
      }

      .btn-sair {
        background-color: white;
        color: #3183d5;
        border: none;
        border-radius: 8px;
        padding: 8px 24px;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .navigation {
    display: flex;
    gap: 25px;
    padding-bottom: 12px;
    border-bottom: 1px solid #5d9cdb;

    > a:first-child {
      margin-left: 35px;
    }

    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      font-weight: normal;
      transition: color 0.3s ease;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      i {
        margin-right: 8px;
        font-size: 16px;
      }

      &.active {
        color: white;
        font-weight: bold;
      }
    }
  }
}
