<div class="container">
  <app-menu></app-menu>

  <div class="content">
    <div class="transfer-container">
      <h1 class="title">Nova transferência</h1>

      <p-stepper [(activeStep)]="active">
        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <div class="step-item">
              <div class="step" [ngClass]="{
                'line': index > active,
                'active': index == active
              }">1</div>
              <span class="step-label">Conta</span>
            </div>
          </ng-template>
          <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <div class="form-section">
                  <div class="form-group">
                    <label class="label">Chave</label>
                    <input type="text" class="input" placeholder="Chave da conta" [(ngModel)]="accountNumber">
                  </div>
                </div>
              </div>
            </div>

            <div style="display: flex; justify-content: flex-end">
              <p-button label="Continuar" (onClick)="searchAccount(nextCallback)" />
            </div>

            <div class="form-section">
              <div class="contacts-section">
                <h2 class="contacts-title">Meus contatos</h2>

                <div class="contact-card" *ngFor="let contact of contacts">
                  <div class="contact-info">
                    <div class="contact-name">{{ contact.contact_user?.name }}</div>
                    <div class="contact-key">Chave: {{ contact.contact_user?.account?.key ?? '' | mask}}</div>
                  </div>
                  <button class="btn-select" (click)="selectContact(contact)">Selecionar</button>
                </div>

              </div>
            </div>
          </ng-template>
        </p-stepperPanel>

        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <div class="step-item">
              <div class="step" [ngClass]="{
                'line': index > active,
                'active': index == active
              }">2</div>
              <span class="step-label">Valor</span>
            </div>
          </ng-template>
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
            let-index="index">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <div>Para: {{''}}</div>
                <div>CPF: {{''}}</div>
                <div>Chave: {{account?.key}}</div>
                <div><input type="checkbox" [(ngModel)]="saveContact" [disabled]="accountAlredySaved()" /> Salvar
                  Contato</div>

                <div class="form-section">
                  <div class="form-group">
                    <label class="label">Valor</label>
                    <input type="text" class="input" placeholder="Valor" [(ngModel)]="value">
                  </div>
                </div>

              </div>
            </div>
            <div style="display: flex; gap: 10px; justify-content: flex-end;">
              <p-button label=" Voltar" (onClick)="prevCallback.emit()" />
              <p-button label="Revisar" (onClick)="nextCallback.emit()" />
            </div>
          </ng-template>
        </p-stepperPanel>

        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <div class="step-item">
              <div class="step" [ngClass]="{
                'line': index > active,
                'active': index <= active
              }">3</div>
              <span class="step-label">Revisão</span>
            </div>
          </ng-template>
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
              <div
                class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                <div>Para: {{''}}</div>
                <div>CPF: {{''}}</div>
                <div>Chave: {{account?.key}}</div>
                <div>Valor: {{value | currency: 'BRL'}}</div>
              </div>
            </div>
            <div style="display: flex; gap: 10px; justify-content: flex-end;">
              <p-button label="Voltar" (onClick)="prevCallback.emit()" />
              <p-button label="Confirmar" (click)="confirmPayment()" />

            </div>
          </ng-template>
        </p-stepperPanel>
      </p-stepper>
    </div>

    <app-user-details></app-user-details>
  </div>

  <app-footer></app-footer>
</div>

<p-toast />